.quantity__button,
.social__link,
.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Black.woff2") format("woff2"), url("../fonts/Nunito-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.faq__name,
.team__name,
.roadmap__name,
.about-cards__name,
.about-cards__title,
.slider-welcome__desc,
.quantity__input,
.mint__price,
.timer__num,
.offer__title,
.btn,
.title {
  font-family: Nunito, sans-serif;
  font-weight: 900;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.mint__slogan,
.timer__block:not(:last-child)::after,
.menu__link {
  font-family: Nunito, sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Nunito, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: PatrickHand;
  font-display: swap;
  src: url("../fonts/PatrickHand-Regular.woff2") format("woff2"), url("../fonts/PatrickHand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.welcome__btn-desc {
  font-family: PatrickHand, sans-serif;
  font-weight: 400;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-l:before {
  content: "\e92d";
}

.icon-arr-r:before {
  content: "\e92e";
}

.icon-car:before {
  content: "\e92f";
}

.icon-close1:before {
  content: "\e930";
}

.icon-cub:before {
  content: "\e931";
}

.icon-drink:before {
  content: "\e932";
}

.icon-game:before {
  content: "\e933";
}

.icon-geo:before {
  content: "\e934";
}

.icon-loc:before {
  content: "\e935";
}

.icon-money:before {
  content: "\e936";
}

.icon-tel:before {
  content: "\e937";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 1.2;
  color: #18063C;
  background-color: #fff;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 60px 0;
}

.title {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 48px;
}

.title::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn {
  display: inline-block;
  padding: 21px 52px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #6A4331;
  border-radius: 152px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn:focus-visible {
  outline: none;
  background-color: #A28070;
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.header__btn {
  padding: 10px 30px;
  font-size: 16px;
  color: #18063C;
  background-color: #fff;
  border: 1px solid #6A4331;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__btn:focus-visible {
  outline: none;
  color: #fff;
  background-color: #6A4331;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 126px;
  height: 47px;
}

.logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu {
  position: relative;
}

.menu__btn {
  position: relative;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #6A4331;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__btn:focus-visible {
  outline: none;
  background-color: #6A4331;
}

.menu__btn:focus-visible span {
  background-color: #fff;
}

.menu__btn._active i span:first-child {
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}

.menu__btn._active i span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__btn._active i span:last-child {
  -webkit-transform: rotate(45deg) translateY(50%);
      -ms-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}

.menu__icon {
  position: relative;
  width: 18px;
  height: 12px;
}

.menu__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #18063C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon span:first-child {
  top: 0px;
}

.menu__icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0px;
}

.menu__body {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  min-width: 275px;
  max-height: calc(100vh - 110px);
  padding: 30px;
  background: url(./../img/content/menu/leaves-1.svg) top right/56px 47px no-repeat, url(./../img/content/menu/leaves-2.svg) bottom left/38px 31px no-repeat, url(./../img/content/menu/leaves-3.svg) bottom right/24px 29px no-repeat, #ffffff;
  border: 1px solid #6A4331;
  border-radius: 28px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
}

.menu__body._active {
  -webkit-transform: translateY(calc(100% + 43px));
      -ms-transform: translateY(calc(100% + 43px));
          transform: translateY(calc(100% + 43px));
  visibility: visible;
  pointer-events: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.menu__item:not(:first-child) {
  margin-top: 20px;
}

.menu__link {
  white-space: nowrap;
  font-size: 20px;
  color: #18063C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:focus-visible {
  outline: none;
  padding-left: 10px;
}

.social {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.social__link {
  width: 40px;
  height: 40px;
  padding: 11px;
  border: 1px solid #6A4331;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__link path {
  fill: #18063C;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__link:focus-visible {
  outline: none;
  background-color: #6A4331;
}

.social__link:focus-visible path {
  fill: #fff;
}

.offer {
  background-color: #ECECF7;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  margin-right: 28px;
}

.offer__title {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 48px;
}

.offer__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 6px;
  left: -35px;
  width: 529px;
  height: 137px;
  background-image: url(./../img/content/offer/title-bg-l.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.offer__timer {
  padding: 30px 0;
}

.offer__preview {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 230px 30px 230px;
  -ms-grid-columns: 230px 30px 230px;
      grid-template: 230px 230px/230px 230px;
  gap: 30px;
}

.offer__img-box {
  border-radius: 28px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.offer__img-box:nth-child(1) {
  background-color: #C6F9FF;
}

.offer__img-box:nth-child(2) {
  background-color: #FFD4F9;
}

.offer__img-box:nth-child(3) {
  background-color: #FFFCC6;
}

.offer__img-box:nth-child(4) {
  background-color: #EAD2FE;
}

.offer__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.timer__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__block:not(:last-child)::after {
  content: ":";
  position: absolute;
  top: 2px;
  right: -20px;
  font-size: 54px;
  line-height: 1;
  color: #4A3674;
}

.timer__num {
  font-size: 54px;
}

.timer__name {
  font-size: 14px;
}

.mint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mint__text {
  margin-bottom: 20px;
}

.mint__slogan {
  margin-bottom: 30px;
  font-size: 24px;
}

.mint__price {
  margin-bottom: 20px;
  font-size: 30px;
}

.mint__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mint__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.mint__desc {
  margin-top: 20px;
  text-transform: uppercase;
}

.mint__btn {
  min-width: 247px;
  border: none;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 66px;
}

.quantity__button {
  width: 59px;
  height: 100%;
  font-size: 32px;
  color: #fff;
  background-color: #A28070;
  border-style: solid;
  border-color: #6A4331;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.quantity__button:focus-visible {
  outline: none;
  background-color: #6A4331;
}

.quantity__button_plus {
  padding-right: 3px;
  border-width: 1px 1px 1px 0;
  border-top-right-radius: 152px;
  border-bottom-right-radius: 152px;
}

.quantity__button_minus {
  padding-left: 3px;
  border-width: 1px 0 1px 1px;
  border-top-left-radius: 152px;
  border-bottom-left-radius: 152px;
}

.quantity__input-box {
  width: 80px;
  height: 100%;
}

.quantity__input {
  width: 100%;
  height: 100%;
  padding: 2px 0 0 0;
  text-align: center;
  font-size: 20px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #6A4331;
  outline: none;
}

.welcome {
  overflow: hidden;
}

.welcome__content {
  width: 724px;
  margin-left: auto;
  margin-bottom: 70px;
}

.welcome__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome__title::after {
  bottom: 4px;
  left: -32px;
  width: 759px;
  height: 121px;
  -webkit-transform: translateX(-233px);
      -ms-transform: translateX(-233px);
          transform: translateX(-233px);
  background-image: url(./../img/content/welcome/title-bg-l.svg);
}

.welcome__btn-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.welcome__btn {
  min-width: 265px;
}

.welcome__btn-desc {
  position: absolute;
  bottom: 5px;
  left: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 36px;
  line-height: 0.9;
  color: #58661B;
  -webkit-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
          transform: rotate(7deg);
}

.welcome__btn-desc::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: -10px;
  -webkit-transform: translateX(-100%) rotate(-7deg);
      -ms-transform: translateX(-100%) rotate(-7deg);
          transform: translateX(-100%) rotate(-7deg);
  width: 96px;
  height: 30px;
  background: url(./../img/content/welcome/arrow.svg) center/contain no-repeat;
}

.welcome__btn-desc span {
  padding-left: 33px;
}

.welcome__text {
  text-align: justify;
}

.welcome__text + .welcome__text {
  margin-top: 30px;
}

.slider-welcome {
  position: relative;
  width: 100%;
}

.slider-welcome__desc {
  position: absolute;
  top: -340px;
  left: 30px;
  font-size: 90px;
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.slider-welcome__desc::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 60%;
  width: 43px;
  height: 195px;
  background: url(./../img/content/welcome/slider/arrow.svg) center/contain no-repeat;
  -webkit-transform: translateY(100%) rotate(-40deg);
      -ms-transform: translateY(100%) rotate(-40deg);
          transform: translateY(100%) rotate(-40deg);
}

.slider-welcome__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.slider-welcome__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
  height: 270px;
  border-radius: 28px;
  overflow: hidden;
}

.slider-welcome__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.about {
  background-color: #DDF1F0;
  overflow: hidden;
}

.about__content {
  width: 724px;
  margin-left: auto;
  margin-bottom: 70px;
}

.about__title::after {
  bottom: -8px;
  left: -34px;
  width: 575px;
  height: 77px;
  background-image: url(./../img/content/about/title-bg-l.svg);
}

.about__text {
  max-width: 632px;
}

.about-cards__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 32px;
}

.about-cards__items {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px 40px;
}

.about-cards__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  padding: 40px 40px 50px;
  background-color: #fff;
  border: 4px solid #18063C;
  border-radius: 21px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.no-webp .about-cards__item--first {
  background-image: url(./../img/content/about/safe.png); }

.about-cards__item--first {
  background-size: 258px;
}

.no-webp .about-cards__item--second {
  background-image: url(./../img/content/about/money.png); }

.about-cards__item--second {
  background-size: 276px;
}

.about-cards__name {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 28px;
}

.about-cards__text + .about-cards__text {
  margin-top: 13px;
}

.about-cards__leaves {
  position: absolute;
  z-index: -1;
}

.about-cards__leaves--l {
  width: 75px;
  height: 55px;
}

.about-cards__item--first .about-cards__leaves--l {
  top: -26px;
  left: -40px;
  -webkit-transform: scale(1, -1) rotate(-6deg);
      -ms-transform: scale(1, -1) rotate(-6deg);
          transform: scale(1, -1) rotate(-6deg);
}

.about-cards__item--second .about-cards__leaves--l {
  top: -36px;
  right: 40px;
  -webkit-transform: rotate(136deg);
      -ms-transform: rotate(136deg);
          transform: rotate(136deg);
}

.about-cards__leaves--m {
  width: 44px;
  height: 33px;
}

.about-cards__item--first .about-cards__leaves--m {
  top: 90px;
  right: -30px;
  -webkit-transform: rotate(170deg);
      -ms-transform: rotate(170deg);
          transform: rotate(170deg);
}

.about-cards__item--second .about-cards__leaves--m {
  bottom: -24px;
  left: 46px;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.about-cards__leaves--s {
  width: 52px;
  height: 33px;
}

.about-cards__item--first .about-cards__leaves--s {
  bottom: -24px;
  left: 130px;
}

.about-cards__item--second .about-cards__leaves--s {
  right: -32px;
  bottom: 55px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.about-cards__leaves-img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.roadmap__title {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-right: auto;
  margin-left: auto;
}

.roadmap__title::after {
  bottom: -2px;
  left: -36px;
  width: 298px;
  height: 67px;
  background-image: url(./../img/content/roadmap/title-bg-l.svg);
}

.roadmap__suptext {
  max-width: 475px;
  margin: 0 auto 60px;
  text-align: center;
}

.roadmap__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.roadmap__item {
  border-left: 3px solid #4A3674;
  padding-left: 34px;
}

.roadmap__item:not(:last-child) {
  padding-bottom: 40px;
}

.roadmap__name {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
}

.roadmap__name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -42px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #4A3674;
}

.roadmap__link {
  display: inline-block;
  width: 113px;
  height: 49px;
  margin-top: 20px;
}

.roadmap__link-img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.comic {
  background-color: #F3E7F1;
}

.comic__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  text-align: center;
}

.comic__title {
  max-width: 724px;
}

.comic__title::after {
  bottom: -10px;
  left: -34px;
  width: 760px;
  height: 138px;
  background-image: url(./../img/content/comic/title-bg-l.svg);
}

.comic__text {
  max-width: 500px;
}

.comic__text + .comic__text {
  margin-top: 30px;
}

.comic__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (220px)[4];
  grid-template-columns: repeat(4, 220px);
  -webkit-column-gap: 86px;
     -moz-column-gap: 86px;
          column-gap: 86px;
  margin: 0 auto;
}

.comic__item {
  width: 100%;
  height: 270px;
  background-color: #fff;
  border: 4px solid #18063C;
  border-radius: 21px;
  overflow: hidden;
}

.comic__item:nth-child(1) {
  -webkit-transform: translateY(-12px) rotate(-8deg);
      -ms-transform: translateY(-12px) rotate(-8deg);
          transform: translateY(-12px) rotate(-8deg);
}

.comic__item:nth-child(3) {
  -webkit-transform: translateY(-22px) rotate(-3deg);
      -ms-transform: translateY(-22px) rotate(-3deg);
          transform: translateY(-22px) rotate(-3deg);
}

.comic__item:nth-child(4) {
  -webkit-transform: translateY(-8px) rotate(5deg);
      -ms-transform: translateY(-8px) rotate(5deg);
          transform: translateY(-8px) rotate(5deg);
}

.comic__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.team {
  overflow: hidden;
}

.team__title {
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  margin-right: auto;
  margin-left: auto;
}

.team__title::after {
  bottom: -4px;
  left: -12px;
  width: 168px;
  height: 65px;
  background-image: url(./../img/content/team/title-bg-l.svg);
}

.team__slider {
  width: 100%;
}

.team__slider.swiper-initialized .team__pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.team__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  text-align: center;
}

.team__img-box {
  width: 100%;
  height: 240px;
  margin-bottom: 40px;
}

.team__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.team__name {
  margin-bottom: 20px;
  font-size: 28px;
}

.team__desc {
  padding: 0 20px;
}

.team__pagi {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 30px;
}

.team__pagi .swiper-pagination-bullet {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10px;
  height: 10px;
  background-color: #4A3674;
  border-radius: 50%;
}

.team__pagi .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background-color: #18063C;
}

.faq {
  background-color: #DFEBF7;
}

.faq__title {
  text-align: center;
}

.faq__title::after {
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 14px));
      -ms-transform: translateX(calc(-50% - 14px));
          transform: translateX(calc(-50% - 14px));
  width: 855px;
  height: 81px;
  background-image: url(./../img/content/faq/title-bg-l.svg);
}

.faq__item {
  background-color: #fff;
  border: 4px solid #18063C;
  border-radius: 21px;
}

.faq__item + .faq__item {
  margin-top: 20px;
}

.faq__name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px 30px 60px;
  text-transform: uppercase;
  font-size: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.faq__name::after {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-left: 66px;
  background-image: url(./../img/icons/open.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq__name._spoller-active {
  padding-bottom: 20px;
}

.faq__name._spoller-active::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq__text {
  padding: 0 140px 30px 60px;
}

.footer {
  background-color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 38px 0;
}

.footer__copy {
  font-size: 14px;
  color: #4A3674;
}

@media (min-width: 575.98px) {
  .roadmap__list {
    max-width: 572px;
  }
}

@media (min-width: 767.98px) {
  .header__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px;
  }

  .welcome__title span:nth-child(1) {
    -webkit-transform: translateX(-182px);
        -ms-transform: translateX(-182px);
            transform: translateX(-182px);
  }

  .about__title {
    -webkit-transform: translateX(-182px);
        -ms-transform: translateX(-182px);
            transform: translateX(-182px);
  }

  .footer__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 991.98px) {
  .offer__title {
    line-height: 1.4;
  }

  .welcome__title span:nth-child(1) {
    -webkit-transform: translateX(-233px);
        -ms-transform: translateX(-233px);
            transform: translateX(-233px);
  }

  .about__title {
    -webkit-transform: translateX(-233px);
        -ms-transform: translateX(-233px);
            transform: translateX(-233px);
  }
}

@media (min-width: 1210px) {
  .offer__action {
    position: relative;
  }

  .offer__action::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -42px;
    width: 203px;
    height: 63px;
    background: url(./../img/content/offer/arrow.svg) center/contain no-repeat;
  }

  .welcome__text {
    max-width: 632px;
  }

  .team__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px 50px;
  }

  .faq__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 1210px) {
  .container {
    max-width: 960px;
  }

  .btn {
    padding: 18px 44px;
    font-size: 18px;
  }

  .offer__preview {
    -ms-grid-rows: 200px 20px 200px;
    -ms-grid-columns: 200px 20px 200px;
        grid-template: 200px 200px/200px 200px;
    gap: 20px;
  }

  .offer__img-box {
    border-radius: 24px;
  }

  .mint__slogan {
    font-size: 20px;
  }

  .mint__desc {
    font-size: 16px;
  }

  .mint__btn {
    min-width: 215px;
  }

  .quantity {
    height: 58px;
  }

  .quantity__button {
    width: 53px;
  }

  .quantity__input-box {
    width: 60px;
  }

  .quantity__input {
    font-size: 18px;
  }

  .welcome__content {
    width: 580px;
  }

  .welcome__btn {
    min-width: 233px;
  }

  .welcome__btn-desc {
    left: 380px;
  }

  .about__content {
    width: 580px;
  }

  .about-cards__item {
    border-width: 3px;
  }

  .comic__content {
    margin-bottom: 80px;
  }

  .comic__items {
    -ms-grid-columns: (142px)[4];
    grid-template-columns: repeat(4, 142px);
    gap: 48px 40px;
  }

  .comic__item {
    height: 174px;
  }

  .comic__item {
    border-width: 3px;
  }

  .faq__item {
    border-width: 3px;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 750px;
  }

  .title {
    font-size: 42px;
  }

  .header {
    padding: 14px 0;
  }

  .menu__body {
    max-height: calc(100vh - 95px);
  }

  .menu__body._active {
    -webkit-transform: translateY(calc(100% + 35px));
        -ms-transform: translateY(calc(100% + 35px));
            transform: translateY(calc(100% + 35px));
  }

  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }

  .offer__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 420px;
    padding: 0;
    margin: 0 0 40px 0;
  }

  .offer__title {
    font-size: 42px;
  }

  .offer__title::after {
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 438px;
    height: 115px;
    background-image: url(./../img/content/offer/title-bg-m.svg);
  }

  .offer__timer {
    padding: 20px 0;
  }

  .timer {
    gap: 22px;
  }

  .timer__block:not(:last-child)::after {
    font-size: 42px;
    right: -17px;
  }

  .timer__num {
    font-size: 42px;
  }

  .timer__name {
    font-size: 12px;
  }

  .mint {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mint__price {
    font-size: 24px;
  }

  .welcome__content {
    width: 485px;
  }

  .welcome__title::after {
    left: -22px;
    -webkit-transform: translateX(-182px);
        -ms-transform: translateX(-182px);
            transform: translateX(-182px);
    width: 635px;
    height: 104px;
    background-image: url(./../img/content/welcome/title-bg-m.svg);
  }

  .welcome__btn-desc {
    left: 335px;
    font-size: 30px;
  }

  .welcome__btn-desc::after {
    left: 10px;
  }

  .welcome__text + .welcome__text {
    margin-top: 20px;
  }

  .slider-welcome__desc {
    top: -300px;
    left: 0;
    font-size: 64px;
  }

  .slider-welcome__item {
    width: 233px;
    height: 233px;
    border-radius: 24px;
  }

  .about__content {
    margin-bottom: 60px;
    width: 485px;
  }

  .about__title::after {
    bottom: -4px;
    left: -39px;
    width: 518px;
    height: 65px;
    background-image: url(./../img/content/about/title-bg-m.svg);
  }

  .about-cards__title {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .about-cards__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-cards__item {
    padding: 30px 30px 45px;
  }

  .about-cards__item--first {
    background-size: 200px;
  }

  .about-cards__item--second {
    background-size: 240px;
  }

  .about-cards__name {
    font-size: 20px;
  }

  .about-cards__item--first .about-cards__leaves--l {
    top: -14px;
    left: -26px;
  }

  .about-cards__item--second .about-cards__leaves--l {
    top: -20px;
  }

  .about-cards__item--first .about-cards__leaves--m {
    right: -20px;
  }

  .about-cards__item--second .about-cards__leaves--m {
    bottom: -16px;
    left: 60px;
  }

  .about-cards__item--first .about-cards__leaves--s {
    bottom: -17px;
    left: 90px;
  }

  .about-cards__item--second .about-cards__leaves--s {
    right: -26px;
  }

  .roadmap__title::after {
    bottom: 0;
    left: -34px;
    width: 267px;
    height: 59px;
    background-image: url(./../img/content/roadmap/title-bg-m.svg);
  }

  .roadmap__suptext {
    margin-bottom: 40px;
  }

  .roadmap__item:not(:last-child) {
    padding-bottom: 30px;
  }

  .roadmap__name {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .comic__title {
    max-width: 674px;
  }

  .comic__title::after {
    left: -59px;
    width: 764px;
    height: 122px;
    background-image: url(./../img/content/comic/title-bg-m.svg);
  }

  .comic__text + .comic__text {
    margin-top: 20px;
  }

  .team__title::after {
    bottom: -6px;
    width: 155px;
    height: 59px;
    background-image: url(./../img/content/team/title-bg-m.svg);
  }

  .team__item {
    -ms-flex-preferred-size: 210px;
        flex-basis: 210px;
  }

  .team__img-box {
    margin-bottom: 30px;
    height: 210px;
  }

  .team__name {
    font-size: 20px;
  }

  .faq__title {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }

  .faq__title::after {
    bottom: -6px;
    -webkit-transform: translateX(calc(-50% - 40px));
        -ms-transform: translateX(calc(-50% - 40px));
            transform: translateX(calc(-50% - 40px));
    width: 447px;
    height: 121px;
    background-image: url(./../img/content/faq/title-bg-m.svg);
  }

  .faq__item + .faq__item {
    margin-top: 16px;
  }

  .faq__name {
    padding: 26px 30px;
    font-size: 20px;
  }

  .faq__text {
    padding: 0 80px 26px 30px;
  }

  .footer__body {
    padding: 26px 0;
  }

  .footer__copy {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  .section {
    padding: 40px 0;
  }

  .title {
    margin-bottom: 30px;
    font-size: 29px;
  }

  .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }

  .logo {
    width: 105px;
    height: 40px;
  }

  .offer__timer {
    padding: 10px 0;
  }

  .welcome__content {
    margin-bottom: 40px;
    width: 100%;
  }

  .welcome__title {
    text-align: center;
  }

  .welcome__title::after {
    left: 50%;
    bottom: 4px;
    -webkit-transform: translateX(calc(-50% - 13px));
        -ms-transform: translateX(calc(-50% - 13px));
            transform: translateX(calc(-50% - 13px));
    width: 332px;
    height: 70px;
    background-image: url(./../img/content/welcome/title-bg-s.svg);
  }

  .welcome__btn-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }

  .welcome__btn-desc {
    display: none;
  }

  .welcome__text {
    text-align: center;
  }

  .welcome__text + .welcome__text {
    margin-top: 15px;
  }

  .slider-welcome__desc {
    display: none;
  }

  .slider-welcome__item {
    width: 152px;
    height: 152px;
    border-radius: 18px;
  }

  .about__content {
    margin-bottom: 40px;
    width: 100%;
  }

  .about__title {
    text-align: center;
  }

  .about__title::after {
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 342px;
    height: 43px;
    background-image: url(./../img/content/about/title-bg-s.svg);
  }

  .about__text {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }

  .about-cards__title {
    margin-bottom: 27px;
    font-size: 22px;
  }

  .about-cards__items {
    gap: 30px;
  }

  .about-cards__item {
    padding: 20px 20px 40px;
    border-width: 2px;
  }

  .about-cards__item--first {
    background-size: 144px;
  }

  .about-cards__item--second {
    background-size: 213px;
  }

  .about-cards__name {
    margin-bottom: 14px;
    font-size: 18px;
  }

  .about-cards__item--first .about-cards__leaves--l {
    left: -18px;
  }

  .about-cards__item--second .about-cards__leaves--l {
    top: -14px;
    right: 30px;
  }

  .about-cards__item--first .about-cards__leaves--m {
    top: 65px;
    right: -18px;
  }

  .about-cards__item--second .about-cards__leaves--m {
    left: 40px;
  }

  .about-cards__item--second .about-cards__leaves--s {
    right: -23px;
  }

  .roadmap__title::after {
    left: -20px;
    width: 180px;
    height: 39px;
    background-image: url(./../img/content/roadmap/title-bg-s.svg);
  }

  .roadmap__suptext {
    margin-bottom: 30px;
  }

  .roadmap__item {
    padding-left: 24px;
    border-width: 2px;
  }

  .roadmap__item:not(:last-child) {
    padding-bottom: 20px;
  }

  .roadmap__name {
    margin-bottom: 14px;
    font-size: 18px;
  }

  .roadmap__name::before {
    left: -30px;
    width: 10px;
    height: 10px;
  }

  .comic__content {
    margin-bottom: 55px;
  }

  .comic__title {
    max-width: 275px;
  }

  .comic__title::after {
    bottom: -6px;
    left: -11px;
    width: 282px;
    height: 117px;
    background-image: url(./../img/content/comic/title-bg-s.svg);
  }

  .comic__text {
    max-width: 365px;
  }

  .comic__text + .comic__text {
    margin-top: 15px;
  }

  .comic__items {
    -ms-grid-columns: 142px 142px;
    grid-template-columns: 142px 142px;
  }

  .comic__item {
    border-width: 2px;
  }

  .team__title::after {
    left: -6px;
    bottom: -2px;
    width: 100px;
    height: 38px;
    background-image: url(./../img/content/team/title-bg-s.svg);
  }

  .faq__title {
    max-width: 302px;
  }

  .faq__title::after {
    left: -23px;
    bottom: -2px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 291px;
    height: 79px;
    background-image: url(./../img/content/faq/title-bg-s.svg);
  }

  .faq__item {
    border-width: 2px;
    border-radius: 18px;
  }

  .faq__name {
    padding: 20px;
    font-size: 18px;
  }

  .faq__name::after {
    margin-left: 20px;
    width: 20px;
    height: 20px;
  }

  .faq__name._spoller-active {
    padding-bottom: 15px;
  }

  .faq__text {
    padding: 0 30px 20px 20px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }

  .footer__copy {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }

  .offer__title {
    font-size: 32px;
  }

  .offer__title::after {
    width: 339px;
    height: 90px;
    background-image: url(./../img/content/offer/title-bg-s.svg);
  }

  .offer__timer {
    padding: 0 0 10px;
  }

  .offer__preview {
    -ms-grid-rows: 157px 16px 157px;
    -ms-grid-columns: 157px 16px 157px;
        grid-template: 157px 157px/157px 157px;
    gap: 16px;
  }

  .offer__img-box {
    border-right: 18px;
  }

  .mint__text {
    margin-bottom: 16px;
  }

  .mint__slogan {
    max-width: 280px;
    margin-bottom: 20px;
  }

  .mint__price {
    font-size: 20px;
  }

  .mint__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .mint__quantity {
    margin: 0 0 20px 0;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #A28070;
  }

  .header__btn:hover {
    color: #fff;
    background-color: #6A4331;
  }

  .menu__btn:hover {
    background-color: #6A4331;
  }

  .menu__btn:hover span {
    background-color: #fff;
  }

  .menu__link:hover {
    padding-left: 10px;
  }

  .social__link:hover {
    background-color: #6A4331;
  }

  .social__link:hover path {
    fill: #fff;
  }

  .quantity__button:hover {
    background-color: #6A4331;
  }
}

.webp .about-cards__item--first { background-image: url(./../img/content/about/safe.webp); }

.webp .about-cards__item--second { background-image: url(./../img/content/about/money.webp); }