body {
  @extend %f4;
  font-size: 16px;
  color: $dk;
  background-color: #fff;
}
.container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  @include adaptive-value ('padding-top', 15, 12, 1);
  @include adaptive-value ('padding-right', 30, 18, 1);
  @include adaptive-value ('padding-bottom', 15, 12, 1);
  @include adaptive-value ('padding-left', 30, 18, 1);
  white-space: nowrap;
  text-transform: uppercase;
  @include adaptive-value ('font-size', 16, 12, 1);
  @include adaptive-value ('line-height', 16, 12, 1);
  border-radius: 3px;
}