$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1230; // +30
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$ac: #ff891e;
$sc: #212121;
$dk: #000;
$lt: #ccc;
$anim: all .3s ease 0s;

%f4 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%f7 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}
%ic {
  font-family: 'icons';
  font-weight: 400;
}
%bic {
  display: flex;
  align-items: center;
  justify-content: center;
}