html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.game {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  overflow: hidden;
}

.game--menu {
  background: url(../img/menu.jpg) center/cover no-repeat;
}

.game__start {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  display: inline;
  width: 200px;
  margin: 0 auto 70px auto;
  background-color: #eba523;
  border: 2px #000 solid;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.game__start:hover {
  background-color: #e29911;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.game__start--hide {
  display: none;
}

.game__area {
  position: relative;
  width: 400px;
  height: 100vh;
}

.game__score {
  position: relative;
  z-index: 10;
  width: 400px;
  padding: 10px 20px;
  text-align: right;
  font-size: 20px;
  color: #fff;
}

.game__score--menu {
  margin-top: 70px;
  text-align: center;
  font-size: 30px;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

.track__line {
  position: absolute;
  left: 195px;
  width: 10px;
  height: 50px;
  background-color: #fff;
}

.track__car,
.track__traffic {
  position: absolute;
  z-index: 5;
  width: 50px;
  height: 100px;
  left: 175px;
  bottom: 20px;
}

.track__car {
  background: url(../img/player.png) center/contain no-repeat;
}

.track__traffic {
  background: url(../img/enemy.png) center/contain no-repeat;
}
@supports (-webkit-appearance:none){
.game--menu{background:url(../img/menu.webp) center/cover no-repeat}
.track__car{background:url(../img/player.webp) center/contain no-repeat}
.track__traffic{background:url(../img/enemy.webp) center/contain no-repeat}
}
