body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.offer__title,
.offer__rate span {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"),url(./../fonts/Roboto-Regular.woff2) format("woff2"),url(./../fonts/Roboto-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"),url(./../fonts/Roboto-Bold.woff2) format("woff2"),url(./../fonts/Roboto-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  font-weight: 900;
  font-style: normal;
  src: local("Roboto-Black"),url(./../fonts/Roboto-Black.woff2) format("woff2"),url(./../fonts/Roboto-Black.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/icons.woff2?1l0xp6) format("woff2"),url(../fonts/icons.woff?1l0xp6) format("woff");
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-l:before {
  content: "\e92d";
}

.icon-arr-r:before {
  content: "\e92e";
}

.icon-car:before {
  content: "\e92f";
}

.icon-close1:before {
  content: "\e930";
}

.icon-cub:before {
  content: "\e931";
}

.icon-drink:before {
  content: "\e932";
}

.icon-game:before {
  content: "\e933";
}

.icon-geo:before {
  content: "\e934";
}

.icon-loc:before {
  content: "\e935";
}

.icon-money:before {
  content: "\e936";
}

.icon-tel:before {
  content: "\e937";
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  color: #fff;
  background-color: #621402;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu {
  margin: 0 auto 0 57px;
  font-size: 14px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 25px;
}

.menu__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.lc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lc__desc {
  margin-right: 11px;
  white-space: nowrap;
}

.lc__img-box {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
}

.lc__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.offer {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 155px 0 70px;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 570px;
}

.offer__suptitle {
  margin-bottom: 11px;
  font-size: 23px;
  opacity: .5;
}

.offer__title {
  margin-bottom: 36px;
  font-size: 36px;
}

.offer__desc {
  margin-bottom: 47px;
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.offer__time {
  margin-right: 35px;
}

.offer__time::before {
  content: url(./../img/icons/clock.svg);
  margin-right: 14px;
}

.offer__rate::before {
  content: url(./../img/icons/imdb.png);
  margin-right: 12px;
}

.offer__rate span {
  font-size: 24px;
}

.offer__time,
.offer__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.offer__play {
  width: 100px;
  height: 100px;
  margin-right: 170px;
}

.offer__play circle {
  fill: #fff;
}

.offer__play path {
  fill: #F20D01;
}

.option {
  height: 240px;
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FE8E05;
  }

  .offer__play:hover svg path {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    fill: #fff;
  }

  .offer__play:hover svg circle {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    fill: #FE8E05;
  }
}
@supports (-webkit-appearance:none){

}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
