body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.btn,
.menu__link,
.offer__title {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

.menu,
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"),url(./../fonts/Rubik-Regular.woff2) format("woff2"),url(./../fonts/Rubik-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Rubik-Bold"),url(./../fonts/Rubik-Bold.woff2) format("woff2"),url(./../fonts/Rubik-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/icons.woff2?1l0xp6) format("woff2"),url(../fonts/icons.woff?1l0xp6) format("woff");
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arr-l:before {
  content: "\e92d";
}

.icon-arr-r:before {
  content: "\e92e";
}

.icon-car:before {
  content: "\e92f";
}

.icon-close1:before {
  content: "\e930";
}

.icon-cub:before {
  content: "\e931";
}

.icon-drink:before {
  content: "\e932";
}

.icon-game:before {
  content: "\e933";
}

.icon-geo:before {
  content: "\e934";
}

.icon-loc:before {
  content: "\e935";
}

.icon-money:before {
  content: "\e936";
}

.icon-tel:before {
  content: "\e937";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #2B2A64;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.51%, #B4E8EF), color-stop(34.28%, #6EB9CA), color-stop(56.19%, #559BAD), color-stop(77.63%, #2D698D), to(#132C50));
  background: -o-linear-gradient(top, #B4E8EF 10.51%, #6EB9CA 34.28%, #559BAD 56.19%, #2D698D 77.63%, #132C50 100%);
  background: linear-gradient(180deg, #B4E8EF 10.51%, #6EB9CA 34.28%, #559BAD 56.19%, #2D698D 77.63%, #132C50 100%);
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 22px 52px;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #2B2A64;
  background-color: #FFF500;
  border: 6px solid #fff;
  border-radius: 39px;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 40px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 142px;
  height: 39px;
}

.logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu__btn {
  display: none;
  position: relative;
  z-index: 4;
  width: 28px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu__btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FFF500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__btn span:first-child {
  top: 0px;
}

.menu__btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__btn span:last-child {
  top: auto;
  bottom: 0px;
}

.menu__btn._active span:first-child {
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}

.menu__btn._active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__btn._active span:last-child {
  -webkit-transform: rotate(45deg) translateY(50%);
      -ms-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:first-child) {
  margin-left: 40px;
}

.menu__link {
  white-space: nowrap;
  color: #2B2A64;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #1F239F;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.social__item+.social__item {
  margin-left: 20px;
}

.social__link {
  line-height: 1px;
}

.offer__box {
  background-image: url(../img/content/offer/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 166px 0 80px;
  max-width: 674px;
}

.offer__title {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  margin-bottom: 40px;
  font-size: 100px;
  color: #1F239F;
}

.offer__title::before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 592px;
  height: 165px;
  background-image: url(../../img/content/offer/title-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.offer__title svg {
  width: 100%;
  height: 92px;
}

.offer__title svg text {
  text-anchor: middle;
  dominant-baseline: central;
  paint-order: stroke fill;
  fill: #1F239F;
  stroke: #fff;
  stroke-width: 12;
  font-size: 100px;
  line-height: 100%;
}

.offer__text {
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
}

.slider-offer {
  position: relative;
  padding: 195px 0 128px;
  margin-top: -114px;
  overflow: hidden;
}

.slider-offer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/content/offer/waves.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.slider-offer__body {
  width: 100%;
}

.slider-offer__items {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-offer__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
}

.slider-offer__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (any-hover: hover) {
  .menu__btn:hover span {
    background-color: #000;
  }

  .menu__link:hover {
    color: #1F239F;
  }
}
@supports (-webkit-appearance:none){
.offer__box{background-image:url(../img/content/offer/bg.jpg)}
.offer__title::before{background-image:url(../../img/content/offer/title-bg.png)}
.slider-offer::before{background-image:url(../img/content/offer/waves.svg)}
}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
