body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.subtitle,
.btn,
.phone {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"),url(./../fonts/Roboto-Regular.woff2) format("woff2"),url(./../fonts/Roboto-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"),url(./../fonts/Roboto-Bold.woff2) format("woff2"),url(./../fonts/Roboto-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/icons.woff2?1l0xp6) format("woff2"),url(../fonts/icons.woff?1l0xp6) format("woff");
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tel:before {
  content: "\e900";
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 33px;
  color: #000;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 55px;
}

.subtitle {
  text-transform: uppercase;
}

.fs3314 {
  font-size: 33px;
}

.section-pt {
  padding-top: 120px;
}

.title-mb {
  margin-bottom: 80px;
}

.btn {
  width: 418px;
  height: 80px;
  white-space: nowrap;
  background-color: #6c9;
  border-radius: 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 40px;
  padding-bottom: 24px;
}

.header__menu {
  margin: 0 auto;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-logo__img-box {
  width: 180px;
  height: 54px;
}

.header-logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.header-logo__desc {
  font-size: 20px;
}

.menu {
  font-size: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 120px;
  margin-right: 120px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  color: #6c9;
}

.phone::before {
  margin-right: 16px;
  font-size: 1.2em;
}

.offer {
  overflow: hidden;
  width: 100%;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.offer__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 148px;
  padding-bottom: 152px;
}

.offer__title--lite {
  max-width: 555px;
}

.offer__title--big {
  max-width: 1070px;
}

.offer__text:not(:first-child) {
  margin-top: 24px;
}

.offer__text--lite {
  max-width: 892px;
}

.offer__text--big {
  max-width: 843px;
}

.offer__title,
.offer__text {
  color: #fff;
}

.offer__btn {
  font-size: 33px;
  margin-top: 40px;
}

.benefits__items {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 110px;
  -webkit-column-gap: 300px;
     -moz-column-gap: 300px;
          column-gap: 300px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.benefits__item {
  width: 466px;
}

.benefits__name {
  margin-bottom: 8px;
  position: relative;
  white-space: nowrap;
}

.benefits__name::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
      -ms-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #6c9;
  border-radius: 50%;
}

.benefits__text {
  font-size: 22px;
}

.benefits__img-box {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 670px;
  height: 670px;
  -ms-grid-row-span: 3;
  grid-row: span 3;
  border-radius: 50%;
  overflow: hidden;
}

.benefits__img-box::after,
.benefits__img-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.benefits__img-box::after {
  z-index: 1;
  border-width: 46px;
  border-style: solid;
  border-color: #fff;
}

.benefits__img-box::before {
  z-index: 2;
  border: 2px solid #000;
}

.benefits__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  min-height: 400px;
}

@media (min-width: 568px) {
  .benefits__item {
    padding-left: 16px;
  }
}

@media (min-width: 1200px) {
  .benefits__item:nth-child(odd) {
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  .header-logo__img-box {
    margin-right: 40px;
  }

  .phone {
    margin-left: auto;
  }
}

@media (max-width: 1750px) {
  body {
    font-size: calc(10px + 23 * ((100vw - 320px) / 1430));
  }

  .title {
    font-size: calc(24px + 31 * ((100vw - 320px) / 1430));
  }

  .fs3314 {
    font-size: calc(14px + 19 * ((100vw - 320px) / 1430));
  }

  .section-pt {
    padding-top: calc(40px + 80 * ((100vw - 320px) / 1430));
  }

  .title-mb {
    margin-bottom: calc(24px + 56 * ((100vw - 320px) / 1430));
  }

  .btn {
    width: calc(288px + 130 * ((100vw - 320px) / 1430));
  }

  .btn {
    height: calc(45px + 35 * ((100vw - 320px) / 1430));
  }

  .btn {
    border-radius: calc(15px + 5 * ((100vw - 320px) / 1430));
  }

  .header__body {
    padding-top: calc(15px + 25 * ((100vw - 320px) / 1430));
  }

  .header__body {
    padding-bottom: calc(15px + 9 * ((100vw - 320px) / 1430));
  }

  .header-logo__img-box {
    width: calc(104px + 76 * ((100vw - 320px) / 1430));
  }

  .header-logo__img-box {
    height: calc(30px + 24 * ((100vw - 320px) / 1430));
  }

  .menu__item:not(:last-child) {
    margin-right: calc(0px + 120 * ((100vw - 320px) / 1430));
  }

  .phone {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1430));
  }

  .offer__content {
    padding-top: calc(80px + 68 * ((100vw - 320px) / 1430));
  }

  .offer__content {
    padding-bottom: calc(110px + 42 * ((100vw - 320px) / 1430));
  }

  .offer__title--lite {
    max-width: calc(290px + 265 * ((100vw - 320px) / 1430));
  }

  .offer__title--big {
    max-width: calc(290px + 780 * ((100vw - 320px) / 1430));
  }

  .offer__text:not(:first-child) {
    margin-top: calc(16px + 8 * ((100vw - 320px) / 1430));
  }

  .offer__text--lite {
    max-width: calc(290px + 602 * ((100vw - 320px) / 1430));
  }

  .offer__text--big {
    max-width: calc(290px + 553 * ((100vw - 320px) / 1430));
  }

  .offer__btn {
    font-size: calc(14px + 19 * ((100vw - 320px) / 1430));
  }

  .offer__btn {
    margin-top: calc(24px + 16 * ((100vw - 320px) / 1430));
  }

  .benefits__items {
    row-gap: calc(24px + 86 * ((100vw - 320px) / 1430));
  }

  .benefits__items {
    -webkit-column-gap: calc(16px + 284 * ((100vw - 320px) / 1430));
       -moz-column-gap: calc(16px + 284 * ((100vw - 320px) / 1430));
            column-gap: calc(16px + 284 * ((100vw - 320px) / 1430));
  }

  .benefits__item {
    width: calc(200px + 266 * ((100vw - 320px) / 1430));
  }

  .benefits__name {
    margin-bottom: calc(4px + 4 * ((100vw - 320px) / 1430));
  }

  .benefits__name::before {
    width: calc(24px + 22 * ((100vw - 320px) / 1430));
  }

  .benefits__name::before {
    height: calc(24px + 22 * ((100vw - 320px) / 1430));
  }

  .benefits__text {
    font-size: calc(10px + 12 * ((100vw - 320px) / 1430));
  }

  .benefits__img-box {
    width: calc(100px + 570 * ((100vw - 320px) / 1430));
  }

  .benefits__img-box {
    height: calc(100px + 570 * ((100vw - 320px) / 1430));
  }

  .benefits__img-box::after {
    border-width: calc(10px + 36 * ((100vw - 320px) / 1430));
  }
}

@media (max-width: 1399.98px) {
  .header-logo__desc {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .benefits__items {
    row-gap: 50px;
  }

  .benefits__item {
    width: 100%;
  }

  .benefits__img-box {
    display: none;
  }
}

@media (max-width: 1199.98px) and (max-width: 1750px) {
  .benefits__items {
    row-gap: calc(24px + 26 * ((100vw - 320px) / 1430));
  }
}

@media (max-width: 991.98px) {
  .mobile-hide {
    display: none;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 567.98px) {
  .benefits__name--hide {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .phone {
    font-size: 25px;
  }

  .phone span {
    display: none;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1399.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1199.98px) and (max-width: 1750px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 567.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
