body {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

.btn,
.menu__item,
.call__desc,
.why__item-name,
.projects__tab,
.projects__name,
.footer__title,
.footer-contacts__phone,
.action__point,
.action__object {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

.title,
.logo__title,
.offer__title,
.call__btn,
.action__point span {
  font-family: 'Lato-Black', sans-serif;
  font-weight: 900;
}

.submenu__link {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.social__link,
.search__btn,
.services__item,
.services__prev,
.services__next,
.projects__info,
.contacts__fake-marker,
.footer-contacts__item::before,
.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@font-face {
  font-family: 'Lato-Light';
  font-weight: 300;
  font-style: normal;
  src: local("Lato-Light"),url(./../fonts/Lato-Light.woff2) format("woff2"),url(./../fonts/Lato-Light.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Lato-Regular"),url(./../fonts/Lato-Regular.woff2) format("woff2"),url(./../fonts/Lato-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Lato-Bold"),url(./../fonts/Lato-Bold.woff2) format("woff2"),url(./../fonts/Lato-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Black';
  font-weight: 900;
  font-style: normal;
  src: local("Lato-Black"),url(./../fonts/Lato-Black.woff2) format("woff2"),url(./../fonts/Lato-Black.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"),url(./../fonts/Roboto-Regular.woff2) format("woff2"),url(./../fonts/Roboto-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src: url(../fonts/icons.woff2?1l0xp6) format("woff2"),url(../fonts/icons.woff?1l0xp6) format("woff");
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angl-r:before {
  content: "\e900";
}

.icon-arr-l:before {
  content: "\e901";
}

.icon-arr-r:before {
  content: "\e902";
}

.icon-behance:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-google:before {
  content: "\e905";
}

.icon-location:before {
  content: "\e906";
}

.icon-mail:before {
  content: "\e907";
}

.icon-phone:before {
  content: "\e908";
}

.icon-search:before {
  content: "\e909";
}

.icon-time:before {
  content: "\e90a";
}

.icon-twitter:before {
  content: "\e90b";
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  color: #333;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #013e99;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  background-color: #ffb619;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: relative;
}

.header__sup {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #666666;
  background-color: #f2f2f2;
}

.header__sup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__desc {
  font-size: 15px;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__logo {
  margin-right: auto;
}

.header__search {
  margin-left: 40px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item+.social__item {
  margin-left: 15px;
}

.social__link {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__img-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  width: 46px;
  height: 55px;
}

.logo__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.logo__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  text-transform: uppercase;
  font-size: 28px;
  color: #333;
}

.logo__desc {
  font-size: 14px;
  color: #666666;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__btn {
  position: relative;
  z-index: 4;
  width: 28px;
  height: 19px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.menu__btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__btn span:first-child {
  top: 0px;
}

.menu__btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__btn span:last-child {
  top: auto;
  bottom: 0px;
}

.menu__btn.active span:first-child {
  -webkit-transform: rotate(-45deg) translateY(-50%);
      -ms-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}

.menu__btn.active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__btn.active span:last-child {
  -webkit-transform: rotate(45deg) translateY(50%);
      -ms-transform: rotate(45deg) translateY(50%);
          transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  font-size: 16px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item+.menu__item {
  margin-left: 30px;
}

.menu__item:hover .menu__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu__item:hover .menu__dropdown+.menu__link::after {
  content: '';
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: -36px;
  border: 6px solid transparent;
  border-top: 6px solid #013e99;
}

.menu__link {
  position: relative;
  text-transform: uppercase;
  color: #393939;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__dropdown {
  position: absolute;
  z-index: 2;
  top: 80px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu__dropdown::before {
  content: '';
  position: absolute;
  top: -61px;
  left: 0;
  width: 100%;
  height: 61px;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 10px 20px;
}

.submenu:not(:last-child) {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
}

.submenu__item {
  width: 225px;
  padding: 15px 0;
}

.submenu__item+.submenu__item {
  border-top: 1px solid #e5e5e5;
}

.submenu__link {
  text-transform: uppercase;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search__btn {
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offer__slider {
  overflow: hidden;
  width: 100%;
}

.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.offer__item {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offer__item:not(:first-child) .offer__btn:first-child {
  background-color: #013e99;
}

.offer__item.swiper-slide-active {
  z-index: 1;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 670px;
}

.offer__img-box {
  margin-right: 90px;
  height: 360px;
}

.offer__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.offer__title {
  margin-bottom: 20px;
  font-size: 40px;
  color: #fff;
}

.offer__text {
  font-size: 18px;
  color: #cccccc;
  line-height: 1.6;
}

.offer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.offer__btn+.offer__btn {
  margin-left: 15px;
  background-color: transparent;
  border: 2px solid #cccccc;
}

.call {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.call--first .call__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0;
  padding-top: 55px;
  padding-bottom: 55px;
}

.call--first .call__desc {
  font-size: 26px;
}

.call--first .call__btn {
  padding: 12px 28px 12px 20px;
  font-size: 18px;
}

.call--second .call__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 170px;
  padding-bottom: 230px;
}

.call--second .call__desc {
  margin-bottom: 30px;
  max-width: 600px;
  text-transform: uppercase;
  font-size: 36px;
  color: #f2f2f2;
}

.call--second .call__btn {
  padding: 12px 34px 12px 24px;
  font-size: 25px;
}

.call__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.call__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  color: #fff;
  background-color: #ffb619;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.call__btn::before {
  margin-right: 12px;
}

.why__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
  padding-top: 110px;
  padding-bottom: 120px;
}

.why__img-box {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 70px;
  width: 38%;
  height: 405px;
}

.why__img-box::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  border: 3px solid #e6e6e6;
}

.why__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.why__title {
  margin-bottom: 35px;
}

.why__text {
  margin-bottom: 40px;
  line-height: 1.6;
}

.why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 40px 25px;
}

.why__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__icon-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 14px;
  margin-right: 15px;
  width: 60px;
  height: 60px;
  background-color: #013e99;
}

.why__icon {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.why__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.why__item-name {
  margin-bottom: 10px;
  font-size: 18px;
}

.why__item-text {
  color: #666666;
  line-height: 1.6;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
  padding-bottom: 100px;
}

.services__title {
  margin-bottom: 80px;
  color: #fff;
}

.services__title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}

.services__slider-box {
  position: relative;
  width: 100%;
  margin-bottom: 64px;
}

.services__slider {
  width: 100%;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.services__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 20px;
  min-height: 264px;
  border: 4px solid #1c3e9b;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__prev,
.services__next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  color: #f2f2f2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .3;
}

.services__prev:not(.swiper-button-disabled),
.services__next:not(.swiper-button-disabled) {
  cursor: pointer;
}

.services__prev {
  left: -55px;
}

.services__next {
  right: -55px;
}

.services__pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.services__pagi .swiper-pagination-bullet {
  width: 15px;
  height: 3px;
  background-color: #f2f2f2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .3;
}

.services__pagi .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.services__pagi .swiper-pagination-bullet:not(.swiper-button-disabled) {
  cursor: pointer;
}

.services__pagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.services__icon-box {
  margin-bottom: 20px;
  width: 80px;
  height: 60px;
}

.services__icon {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.services__name {
  margin-bottom: 10px;
  color: #fff;
}

.services__text {
  text-align: center;
  color: #ccc;
  line-height: 1.6;
}

.projects__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
  padding-bottom: 100px;
}

.projects__title::after {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.projects__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px 22px;
  margin: 60px 0 35px;
}

.projects__tab {
  text-transform: uppercase;
  white-space: nowrap;
  color: #666666;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.projects__tab.mixitup-control-active {
  color: #ffb619;
}

.projects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 64px;
}

.projects__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  height: 290px;
}

.projects__item:hover .projects__info {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.projects__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.projects__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(28,62,155,0.9);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.projects__name {
  margin-bottom: 6px;
  font-size: 20px;
  color: #ffb619;
}

.projects__text {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cccccc;
}

.projects__link {
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__wrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 74px;
  padding-bottom: 100px;
}

.contacts__map-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-right: 60px;
}

.contacts__title {
  margin-bottom: 70px;
}

.contacts__map {
  width: 100%;
  height: 420px;
}

.contacts__fake-map {
  position: relative;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  background-color: #e5e5e5;
}

.contacts__fake-marker {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 50px;
  color: #013e99;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contacts-form__input {
  width: 100%;
  height: 50px;
  padding: 0 22px;
}

.contacts-form__textarea {
  width: 100%;
  height: 150px;
  padding: 18px 22px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  resize: none;
}

.contacts-form__input,
.contacts-form__textarea {
  color: #333;
  border: 2px solid #fff;
  outline: none;
}

.contacts-form__input:focus,
.contacts-form__textarea:focus {
  border: 2px solid #013e99;
}

.contacts-form__input::-webkit-input-placeholder, .contacts-form__textarea::-webkit-input-placeholder {
  color: #666666;
}

.contacts-form__input::-moz-placeholder, .contacts-form__textarea::-moz-placeholder {
  color: #666666;
}

.contacts-form__input:-ms-input-placeholder, .contacts-form__textarea:-ms-input-placeholder {
  color: #666666;
}

.contacts-form__input::-ms-input-placeholder, .contacts-form__textarea::-ms-input-placeholder {
  color: #666666;
}

.contacts-form__input::placeholder,
.contacts-form__textarea::placeholder {
  color: #666666;
}

.contacts-form__input.error,
.contacts-form__textarea.error {
  border-color: red;
}

.contacts-form__btn {
  margin-top: 15px;
  border: none;
}

.partners {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #fff;
}

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners__item {
  width: 110px;
  height: 110px;
  width: 110px;
  height: 110px;
  opacity: .6;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.partners__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.footer {
  background-color: #1a1a1a;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 80px;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

.footer__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  color: #cccccc;
}

.footer__copy {
  display: block;
  padding: 20px;
  text-align: center;
  color: #666666;
  background-color: #0d0d0d;
}

.footer__copy span {
  color: #ffb619;
}

.footer-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__item::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 14px;
  font-size: 20px;
  color: #ffb619;
  background-color: #252525;
  border-radius: 50%;
}

.footer-contacts__item+.footer-contacts__item {
  margin-top: 10px;
}

.footer-contacts__item a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.6;
  color: #999999;
}

.footer-contacts__phone {
  font-size: 18px;
  color: #cccccc;
}

.footer-menu {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.footer-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__item::before {
  margin-right: 15px;
  font-size: 16px;
  color: #ffb619;
}

.footer-menu__item+.footer-menu__item {
  margin-top: 15px;
}

.footer-menu__link {
  color: #999999;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.action {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 36px 26px 26px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px dashed rgba(102,102,102,0.6);
}

.action__point,
.action__object {
  color: #cccccc;
}

.action__point {
  text-transform: uppercase;
  font-size: 22px;
}

.action__point span {
  font-size: 55px;
  color: #ffb619;
}

.action__object {
  margin-bottom: 50px;
  font-size: 18px;
}

.action__code {
  color: #999999;
}

.action__code span {
  text-transform: uppercase;
  font-size: 16px;
  color: #ffb619;
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }

  .offer__img-box {
    width: 32%;
  }

  .offer__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51%;
            flex: 0 0 51%;
  }

  .call--first .call__desc {
    margin-right: 80px;
  }
}

@media (min-width: 992px) {
  .services__slider {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .services__pagi {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .services__prev,
  .services__next {
    display: none;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 880));
  }

  .title::after {
    bottom: calc(-8px + -7 * ((100vw - 320px) / 880));
  }

  .title::after {
    width: calc(40px + 20 * ((100vw - 320px) / 880));
  }

  .header__sup {
    padding-top: calc(10px + 6 * ((100vw - 320px) / 880));
  }

  .header__sup {
    padding-bottom: calc(10px + 6 * ((100vw - 320px) / 880));
  }

  .header__desc {
    font-size: calc(8px + 7 * ((100vw - 320px) / 880));
  }

  .header__main {
    padding-top: calc(10px + 20 * ((100vw - 320px) / 880));
  }

  .header__main {
    padding-bottom: calc(10px + 20 * ((100vw - 320px) / 880));
  }

  .social__item+.social__item {
    margin-left: calc(20px + -5 * ((100vw - 320px) / 880));
  }

  .logo__img-box {
    margin-right: calc(10px + 5 * ((100vw - 320px) / 880));
  }

  .logo__img-box {
    width: calc(24px + 22 * ((100vw - 320px) / 880));
  }

  .logo__img-box {
    height: calc(28px + 27 * ((100vw - 320px) / 880));
  }

  .logo__title {
    font-size: calc(12px + 16 * ((100vw - 320px) / 880));
  }

  .logo__desc {
    font-size: calc(9px + 5 * ((100vw - 320px) / 880));
  }

  .menu__item {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }

  .offer__body {
    padding-top: calc(80px + 70 * ((100vw - 320px) / 880));
  }

  .offer__body {
    padding-bottom: calc(80px + 70 * ((100vw - 320px) / 880));
  }

  .offer__body {
    min-height: calc(470px + 200 * ((100vw - 320px) / 880));
  }

  .offer__img-box {
    margin-right: calc(0px + 90 * ((100vw - 320px) / 880));
  }

  .offer__img-box {
    height: calc(284px + 76 * ((100vw - 320px) / 880));
  }

  .offer__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 880));
  }

  .offer__title {
    font-size: calc(28px + 12 * ((100vw - 320px) / 880));
  }

  .offer__text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }

  .offer__btns {
    margin-top: calc(20px + 20 * ((100vw - 320px) / 880));
  }

  .call--first .call__body {
    padding-top: calc(40px + 15 * ((100vw - 320px) / 880));
  }

  .call--first .call__body {
    padding-bottom: calc(40px + 15 * ((100vw - 320px) / 880));
  }

  .call--first .call__desc {
    font-size: calc(20px + 6 * ((100vw - 320px) / 880));
  }

  .call--first .call__btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }

  .call--second .call__body {
    padding-top: calc(70px + 100 * ((100vw - 320px) / 880));
  }

  .call--second .call__body {
    padding-bottom: calc(70px + 160 * ((100vw - 320px) / 880));
  }

  .call--second .call__desc {
    font-size: calc(20px + 16 * ((100vw - 320px) / 880));
  }

  .call--second .call__btn {
    font-size: calc(16px + 9 * ((100vw - 320px) / 880));
  }

  .why__body {
    padding-top: calc(60px + 50 * ((100vw - 320px) / 880));
  }

  .why__body {
    padding-bottom: calc(80px + 40 * ((100vw - 320px) / 880));
  }

  .why__img-box {
    margin-right: calc(0px + 70 * ((100vw - 320px) / 880));
  }

  .why__img-box {
    height: calc(204px + 201 * ((100vw - 320px) / 880));
  }

  .why__icon-box {
    width: calc(45px + 15 * ((100vw - 320px) / 880));
  }

  .why__icon-box {
    height: calc(45px + 15 * ((100vw - 320px) / 880));
  }

  .why__item-name {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }

  .services__body {
    padding-top: calc(60px + 14 * ((100vw - 320px) / 880));
  }

  .services__body {
    padding-bottom: calc(80px + 20 * ((100vw - 320px) / 880));
  }

  .services__title {
    margin-bottom: calc(50px + 30 * ((100vw - 320px) / 880));
  }

  .services__slider-box {
    margin-bottom: calc(45px + 19 * ((100vw - 320px) / 880));
  }

  .services__icon-box {
    width: calc(60px + 20 * ((100vw - 320px) / 880));
  }

  .services__icon-box {
    height: calc(40px + 20 * ((100vw - 320px) / 880));
  }

  .projects__body {
    padding-top: calc(60px + 14 * ((100vw - 320px) / 880));
  }

  .projects__body {
    padding-bottom: calc(80px + 20 * ((100vw - 320px) / 880));
  }

  .projects__items {
    margin-bottom: calc(45px + 19 * ((100vw - 320px) / 880));
  }

  .projects__item {
    height: calc(170px + 120 * ((100vw - 320px) / 880));
  }

  .projects__name {
    font-size: calc(15px + 5 * ((100vw - 320px) / 880));
  }

  .contacts__body {
    padding-top: calc(60px + 14 * ((100vw - 320px) / 880));
  }

  .contacts__body {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 880));
  }

  .contacts__map-box {
    margin-right: calc(0px + 60 * ((100vw - 320px) / 880));
  }

  .contacts__title {
    margin-bottom: calc(50px + 20 * ((100vw - 320px) / 880));
  }

  .contacts__map {
    height: calc(180px + 240 * ((100vw - 320px) / 880));
  }

  .contacts__fake-marker {
    font-size: calc(30px + 20 * ((100vw - 320px) / 880));
  }

  .partners {
    padding-top: calc(30px + 25 * ((100vw - 320px) / 880));
  }

  .partners {
    padding-bottom: calc(30px + 25 * ((100vw - 320px) / 880));
  }

  .partners__item {
    width: calc(50px + 60 * ((100vw - 320px) / 880));
  }

  .partners__item {
    height: calc(50px + 60 * ((100vw - 320px) / 880));
  }

  .footer__body {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 880));
  }

  .footer__body {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  .title::after {
    height: 2px;
  }

  .why__body {
    padding-left: 20px;
  }

  .why__img-box::before {
    top: -20px;
    left: -20px;
  }

  .why__items {
    gap: 40px;
  }

  .why__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why__icon-box {
    margin: 0 0 15px 0;
  }

  .services {
    overflow: hidden;
  }

  .footer__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .footer__item--action {
    display: none;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 14px;
  }

  .title {
    text-align: center;
  }

  .title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .btn {
    padding: 12px 20px;
  }

  .header__search {
    margin: 0 10px 0 30px;
  }

  .menu__list {
    position: absolute;
    z-index: 11;
    top: 100%;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu__list.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item+.menu__item {
    margin: 20px 0 0 0;
  }

  .menu__dropdown {
    display: none;
  }

  .search__btn {
    font-size: 20px;
  }

  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .offer__img-box {
    margin: 50px 0 0 0;
  }

  .offer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 80%;
  }

  .offer__btn+.offer__btn {
    margin-left: 10px;
  }

  .call--first .call__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .call--first .call__desc {
    margin-bottom: 15px;
  }

  .call--second .call__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .call--second .call__desc {
    margin-bottom: 20px;
  }

  .call__desc {
    text-align: center;
  }

  .why__body {
    padding-left: 0;
  }

  .why__img-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }

  .why__img-box {
    width: 500px;
    height: 500px;
    margin: 0 0 0 20px;
  }

  .why__text {
    text-align: center;
  }

  .why__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 260px;
    margin: 0 auto;
    text-align: center;
  }

  .services__item {
    min-height: 200px;
    border-width: 2px;
  }

  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__map-box {
    margin-right: 0;
    padding-top: 74px;
  }

  .contacts-form__btn {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    width: 50%;
    margin: 15px auto 0;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__item+.footer__item {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) and (max-width: 1200px) {
  .why__img-box {
    width: calc(204px + 296 * ((100vw - 320px) / 880));
  }

  .why__img-box {
    height: calc(204px + 296 * ((100vw - 320px) / 880));
  }

  .contacts__map-box {
    padding-top: calc(60px + 14 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 567.98px) {
  .projects__tabs {
    margin-top: 40px;
  }

  .projects__tab {
    font-size: 13px;
  }

  .projects__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .contacts-form__input {
    height: 40px;
    padding: 0 10px;
  }

  .contacts-form__textarea {
    height: 100px;
    padding: 10px 10px;
  }

  .contacts-form__input,
  .contacts-form__textarea {
    font-size: 12px;
  }

  .contacts-form__btn {
    margin-top: 0;
  }
}

@media (max-width: 767.98px) and (min-width: 568px) {
  .footer__body {
    padding-right: 400px;
  }
}

@media (max-width: 767.98px) and (min-width: 568px) and (max-width: 1200px) {
  .footer__body {
    padding-right: calc(0px + 400 * ((100vw - 320px) / 880));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #eba205;
    border-color: transparent;
  }

  .social__link:hover {
    color: #ffb619;
  }

  .menu__btn:hover span {
    background-color: #ffb619;
  }

  .menu__link:hover {
    color: #ffb619;
  }

  .submenu__link:hover {
    color: #013e99;
  }

  .search__btn:hover {
    color: #ffb619;
  }

  .offer__item:not(:first-child) .offer__btn:first-child:hover {
    background-color: #02327a;
  }

  .call__btn:hover {
    background-color: #eba205;
    border-color: transparent;
  }

  .services__item:hover {
    background-color: #1c3e9b;
  }

  .services__prev:not(.swiper-button-disabled):hover,
  .services__next:not(.swiper-button-disabled):hover {
    opacity: 1;
  }

  .services__pagi .swiper-pagination-bullet:not(.swiper-button-disabled):hover {
    opacity: 1;
  }

  .projects__link:hover {
    color: #ffb619;
  }

  .contacts__fake-marker:hover {
    color: #ffb619;
  }

  .partners__item:hover {
    opacity: 1;
  }

  .footer-contacts__item a:hover {
    color: #ffb619;
  }

  .footer-menu__link:hover {
    color: #ffb619;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1399.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 567.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (min-width: 568px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (min-width: 568px) and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
